.button {
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: var(--btn-border-radius);
    font-weight: 700;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

.button:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.button:disabled  {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    opacity: .3;
}

.secondaryButton {
    background-color: var(--very-dark-cyan);
    color: var(--white);
}

.primaryButton {
    background-color: var(--primary);
    color: var(--very-dark-cyan);
}
