.label {
    display: block;
    color: var(--dark-grayish-cyan-2);
    font-weight: var(--label-font-weight);
    font-size: var(--label-font-size);
    margin-bottom: 0.5rem;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    text-align: end;
    font-family: inherit;
    color: var(--very-dark-cyan);
    font-weight: var(--input-font-weight);
    font-size: 1.4rem;
    width: 100%;
}

.input::placeholder {
    color: var(--very-dark-cyan);
    font-size: 1.2rem;
    text-align: center;
}

.customInput {
    display: grid;
    grid-template: 1fr / 0.7rem 1fr;
    width: 100%;
    padding: 0.3rem 0.8rem;
    background-color: var(--light-grayish-cyan-2);
    border-radius: var(--btn-border-radius);
}

.inputIsFocused {
    outline: 2px var(--primary) solid;
}

.inputError {
    outline: 2px red solid;
}

.iconContainer {
    display: flex;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.errorText {
    color: red;
    font-size: 0.8rem;
    font-weight: 700;
}

.noIconInput {
    display: inline-block;
}