.container {
    background-color: var(--very-dark-cyan);
    border-radius: var(--result-border-radius);
    padding: 1.5rem;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    row-gap: 1.5rem;
}